<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-8 mb-4 order-0">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6 order-0 mb-4">
                    <div class="card" style="min-height: 120px;">
                        <div class="card-body custom-bg">
                            <h5 class="m-0 me-2">{{ __("Welcome") }} {{ current_employee.emp_name }}</h5>
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="{{ current_employee.emp_route }}" class="text-primary create-new-doc" style="font-size: 1.125rem; font-weight: 500;">
                                    {{ __("View Profile") }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 order-0 mb-4">
                    <div class="card" style="min-height: 120px;">
                        <div class="card-body">
                            <h5 class="m-0 me-2">{{ __("Date") }}</h5>
                            <div class="d-flex align-items-start justify-content-between">
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="mb-0 me-2 text-secondary" id="current-clock-datetime">10</h4>
                                </div>
                                <script>
                                    function currentTime() {
                                            let date = new Date(); 
                                            let hh = date.getHours();
                                            let mm = date.getMinutes();
                                            let ss = date.getSeconds();
                                            let session = "AM";

                                            if(hh == 0){
                                                hh = 12;
                                            }
                                            if(hh > 12){
                                                hh = hh - 12;
                                                session = "PM";
                                            }

                                            hh = (hh < 10) ? "0" + hh : hh;
                                            mm = (mm < 10) ? "0" + mm : mm;
                                            ss = (ss < 10) ? "0" + ss : ss;
                                                
                                            let time = hh + ":" + mm + ":" + ss + " " + session;

                                            document.getElementById("current-clock-datetime").innerText = time; 
                                            let t = setTimeout(function(){ currentTime() }, 1000);
                                            }
                                            currentTime();
                                </script>
                                <span class="badge  rounded p-2">
                                    <i class="bx bx-time bx-sm"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6 order-0 mb-4">
                    {% if(employee>0) { %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="card-title">
                                <h5 class="text-nowrap mb-2">{{ __("Employees") }}</h5>
                                <span class="badge bg-label-warning rounded-pill">
                                    {{ active_employee }}
                                    {{ __("FROM")}}
                                    {{ employee }}
                                    {{ __("Employee") }}</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                style="width: 
                                calc({{ active_employee }} * 100% / {{ employee }})
                                "
                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    {% } %}
                </div>

                
                <div class="col-6 mb-4">
                    <div class="card">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="card-title m-0 me-2">{{ __("Timesheet") }}</h5>
                        </div>
                        <div class="card-body">
                            <ul class="p-0 m-0">
                                {% if(timesheet_list.length) { %}
                                {% for row in timesheet_list %}
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <img src="/assets/mosyr_theme/img/icons/unicons/chart.png" alt="User"
                                            class="rounded" />
                                    </div>
                                    <div
                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <small class="text-muted d-block mb-1">{{ row.employee_name }}</small>
                                            <h6 class="mb-0">{{ row.customer }} - {{ row.parent_project }}</h6>
                                        </div>
                                        <div class="user-progress d-flex align-items-center gap-1">
                                            <h6 class="mb-0">{{ (row.total_hours) }}
                                            </h6>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                {% else %}
                                <span class="card-title text-nowrap mb-1">{{__("Nothing to show")}}</span>
                                {% } %}
                            </ul>
                        </div>
                    </div>
                </div>


                {%  if (len_leave_details) { %}
                <div class="col-md-12 col-lg-12 order-1 mb-4">
                    <div class="card">
                        <div class="card-body" id="leaves-chart-container"></div>
                    </div>
                </div>
                {% else %}
                <div class="col-md-12 col-lg-12 order-1 mb-4">
                    <div class="card" style="height: 268px">
                        <div class="card-body" style="position: relative;">
                            <div class="card-title">
                                <h5 class="m-0 me-2">{{ __("Leave Statistics") }}</h5>
                            </div>
                            <div class="d-flex align-items-start justify-content-center"
                            style="width: 150px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);">
                                   <span class="text-center">No data to show</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% } %}
            </div>
        </div>
        <div class="col-lg-4 col-md-4 order-1">
            <div class="row">
                {% if saas_config.enable_saas %}
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h5 class="text-nowrap mb-2">{{ __("Used Space") }}</h5>
                                <span class="badge bg-label-primary rounded-pill">
                                    {{ saas_config.storage_space }}
                                    {{ __("FROM")}}
                                    {{ saas_config.storage_space }}
                                    {{ __("USED") }}
                                </span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-primary" role="progressbar"
                                    style="width: 
                                    calc({{ saas_config.storage_space }} * 100% / {{ saas_config.storage_space }});
                                    " aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h5 class="text-nowrap mb-2">{{ __("Users") }}</h5>
                                <span class="badge bg-label-primary rounded-pill">
                                    {{ saas_config.active_users }}
                                    {{ __("FROM")}}
                                    {{ saas_config.available_users }}
                                    {{ __("USED") }}
                                </span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-primary" role="progressbar"
                                    style="width: 
                                    calc({{ saas_config.active_users }} * 100% / {{ saas_config.available_users }});
                                    " aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12 order-0 mb-4">
                    <div class="card" style="min-height: 120px;">
                        <div class="card-body">
                            <h5 class="m-0 me-2">{{ __("Subscription End Date") }}</h5>
                            <div class="d-flex align-items-start justify-content-between">
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="mb-0 me-2 text-secondary">{{ saas_config.subscription_end_date  }}</h4>
                                </div>
                               
                            </div>
                        </div>

                        <div class="card-body">
                            <h5 class="m-0 me-2">{{ __("Remaining subscription") }}</h5>
                            <div class="d-flex align-items-start justify-content-between">
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="mb-0 me-2 text-secondary">{{ saas_config.remaining_days  }}</h4>
                                </div>
                                <span class="badge bg-label-warning rounded p-2" style="line-height: 1;">
                                    <i class="bx bx-time bx-sm"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}

                <div class="col-md-12 col-lg-12 col-xl-12 order-0 mb-4">
                    <div class="card" style="min-height: 120px;">
                        <div class="card-body ">
                            <h5 class="m-0 me-2">{{ __("Technical support") }}</h5>
                            <div class="d-flex align-items-center justify-content-between">
                                <a id="new-tech-support" class="text-primary create-new-doc"
                                    style="font-size: 1.125rem; font-weight: 500;">{{__("New Application") }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card" style="min-height: 174px;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/assets/mosyr_theme/img/icons/unicons/chart-success.png"
                                        alt="chart success" class="rounded" />
                                    </div>
                                </div>
                                <span class="fw-semibold d-block mb-1">{{ __("Total Loans") }}</span>
                            <h3 class="card-title mb-2"> {{loans || "0"}} </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card" style="min-height: 174px;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/assets/mosyr_theme/img/icons/unicons/cc-warning.png" alt="Credit Card"
                                    class="rounded" />
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">{{ __("Active Employee") }}</span>
                            <h3 class="card-title mb-2">{{active_employee || "0"}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-4">
                    <div class="card" style="min-height: 174px;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/assets/mosyr_theme/img/icons/unicons/paypal.png" alt="Credit Card"
                                    class="rounded" />
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">{{ __("Paid salaries") }}</span>
                            <h3 class="card-title mb-2">{{paid_salaries[0].base || "0"}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-4">
                    <div class="card" style="min-height: 174px;">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/assets/mosyr_theme/img/icons/unicons/wallet-info.png" alt="Credit Card"
                                        class="rounded" />
                                </div>

                            </div>
                            <span class="fw-semibold d-block mb-1">{{ __("Leave Encashment") }}</span>
                            <h3 class="card-title mb-2">{{leave_encashment[0].encashable_days || "0"}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <h2>Self Services</h2>
    <div class="row">
        {% if(salary_details.salary_details.length) { %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body">
                    <h5 class="m-0 me-2">{{ __("Salary Details") }}</h5>
                    {% for item in salary_details.salary_details %}
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex align-items-end mt-2">
                            <h6 class="mb-0">
                                <a href="/app/salary-details/{{ item.name }}">{{ item.name }}</a>
                            </h6>
                        </div>
                        <span class="badge {{ item.workflow_state }} rounded p-2" style="line-height: 1;">
                            {{ item.workflow_state }}
                        </span>
                    </div>
                    {% endfor %}
                    {% if(salary_details.len > 3) { %}
                    <span style="float: right;margin-top: 12px;">
                        <a  href="/app/salary-details">Show More</a>
                    </span>
                    {% } %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body" style="position: relative;">
                    <div class="card-title">
                        <h5 class="m-0 me-2">{{ __("Salary Details") }}</h5>
                    </div>
                    <div class="d-flex align-items-start justify-content-center"
                    style="width: 150px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);">
                           <span class="text-center">No data to show</span>
                    </div>
                </div>
            </div>
        </div>
        {% } %}
        {% if(work_experience.work_experience.length) { %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body">
                    <h5 class="m-0 me-2">{{ __("Work Experience") }}</h5>
                    {% for item in work_experience.work_experience %}
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="d-flex align-items-end mt-2">
                                <h6 class="mb-0">
                                    <a href="/app/work-experience/{{ item.name }}">{{ item.name }}</a>
                                </h6>
                            </div>
                            <span class="badge {{ item.workflow_state }} rounded p-2" style="line-height: 1;">
                                {{ item.workflow_state }}
                            </span>
                        </div>
                    {% endfor %}
                    {% if(work_experience.len > 3   ) { %}
                    <span style="float: right;margin-top: 12px;">
                        <a class="" href="/app/work-experience">Show More</a>
                    </span>
                    {% } %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body" style="position: relative;">
                    <div class="card-title">
                        <h5 class="m-0 me-2">{{ __("Work Experience") }}</h5>
                    </div>
                    <div class="d-flex align-items-start justify-content-center"
                    style="width: 150px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);">
                           <span class="text-center">No data to show</span>
                    </div>
                </div>
            </div>
        </div>
        {% } %}
        {% if(dependants_details.dependants_details.length) { %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body">
                    <h5 class="m-0 me-2">{{ __("Dependants Details") }}</h5>
                    {% for item in dependants_details.dependants_details %}
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="d-flex align-items-end mt-2">
                                <h6 class="mb-0">
                                    <a href="/app/dependants-details/{{ item.name }}">{{ item.name }}</a>
                                </h6>
                            </div>
                            <span class="badge {{ item.workflow_state }} rounded p-2" style="line-height: 1;">
                                {{ item.workflow_state }}
                            </span>
                        </div>
                    {% endfor %}
                    {% if(dependants_details.len > 3) { %}
                    <span style="float: right;margin-top: 12px;">
                        <a  href="/app/dependants-details">Show More</a>
                    </span>
                    {% } %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body" style="position: relative;">
                    <div class="card-title">
                        <h5 class="m-0 me-2">{{ __("Dependants Details") }}</h5>
                    </div>
                    <div class="d-flex align-items-start justify-content-center"
                    style="width: 150px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);">
                           <span class="text-center">No data to show</span>
                    </div>
                </div>
            </div>
        </div>
        {% } %}
        {% if(passport_detail.passport_detail.length) { %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body">
                    <h5 class="m-0 me-2">{{ __("Passport Detail") }}</h5>
                    {% for item in passport_detail.passport_detail %}
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex align-items-end mt-2">
                            <h6 class="mb-0">
                                <a href="/app/passport-detail/{{ item.name }}">{{ item.name }}</a>
                            </h6>
                        </div>
                        <span class="badge {{ item.workflow_state }} rounded p-2" style="line-height: 1;">
                            {{ item.workflow_state }}
                        </span>
                    </div>
                    {% endfor %}
                    {% if(passport_detail.len > 3) { %}
                    <span style="float: right;margin-top: 12px;">
                        <a  href="/app/passport-detail">Show More</a>
                    </span>
                    {% } %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body" style="position: relative;">
                    <div class="card-title">
                        <h5 class="m-0 me-2">{{ __("Passport Detail") }}</h5>
                    </div>
                    <div class="d-flex align-items-start justify-content-center"
                    style="width: 150px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);">
                           <span class="text-center">No data to show</span>
                    </div>
                </div>
            </div>
        </div>
        {% } %}
        {% if(health_insurance.health_insurance.length) { %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body">
                    <h5 class="m-0 me-2">{{ __("Health Insurance") }}</h5>
                    {% for item in health_insurance.health_insurance %}
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex align-items-end mt-2">
                            <h6 class="mb-0">
                                <a href="/app/health-insurance/{{ item.name }}">{{ item.name }}</a>
                            </h6>
                        </div>
                        <span class="badge {{ item.workflow_state }} rounded p-2" style="line-height: 1;">
                            {{ item.workflow_state }}
                        </span>
                    </div>
                    {% endfor %}
                    {% if(health_insurance.len > 3) { %}
                    <span style="float: right;margin-top: 12px;">
                        <a  href="/app/health-insurance">Show More</a>
                    </span>
                    {% } %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body" style="position: relative;">
                    <div class="card-title">
                        <h5 class="m-0 me-2">{{ __("Health Insurance") }}</h5>
                    </div>
                    <div class="d-flex align-items-start justify-content-center"
                    style="width: 150px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);">
                           <span class="text-center">No data to show</span>
                    </div>
                </div>
            </div>
        </div>
        {% } %}
        {% if(contact_details.contact_details.length) { %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body">
                    <h5 class="m-0 me-2">{{ __("Contact Details") }}</h5>
                    {% for item in contact_details.contact_details %}
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex align-items-end mt-2">
                            <h6 class="mb-0">
                                <a href="/app/contact-details/{{ item.name }}">{{ item.name }}</a>
                            </h6>
                        </div>
                        <span class="badge {{ item.workflow_state }} rounded p-2" style="line-height: 1;">
                            {{ item.workflow_state }}
                        </span>
                    </div>
                    {% endfor %}
                    {% if(contact_details.len > 3) { %}
                    <span style="float: right;margin-top: 12px;">
                        <a  href="/app/contact-details">Show More</a>
                    </span>
                    {% } %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body" style="position: relative;">
                    <div class="card-title">
                        <h5 class="m-0 me-2">{{ __("Contact Details") }}</h5>
                    </div>
                    <div class="d-flex align-items-start justify-content-center"
                    style="width: 150px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);">
                           <span class="text-center">No data to show</span>
                    </div>
                </div>
            </div>
        </div>
        {% } %}
        {% if(emergency_contact.emergency_contact.length) { %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body">
                    <h5 class="m-0 me-2">{{ __("Emergency Contact") }}</h5>
                    {% for item in emergency_contact.emergency_contact %}
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex align-items-end mt-2">
                            <h6 class="mb-0">
                                <a href="/app/emergency-contact/{{ item.name }}">{{ item.name }}</a>
                            </h6>
                        </div>
                        <span class="badge {{ item.workflow_state }} rounded p-2" style="line-height: 1;">
                            {{ item.workflow_state }}
                        </span>
                    </div>
                    {% endfor %}
                    {% if(emergency_contact.len > 3) { %}
                    <span style="float: right;margin-top: 12px;">
                        <a  href="/app/emergency-contact">Show More</a>
                    </span>
                    {% } %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body" style="position: relative;">
                    <div class="card-title">
                        <h5 class="m-0 me-2">{{ __("Emergency Contact") }}</h5>
                    </div>
                    <div class="d-flex align-items-start justify-content-center"
                    style="width: 150px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);">
                           <span class="text-center">No data to show</span>
                    </div>
                </div>
            </div>
        </div>
        {% } %}
        {% if(educational_qualification.educational_qualification.length) { %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body">
                    <h5 class="m-0 me-2">{{ __("Educational Qualification") }}</h5>
                    {% for item in educational_qualification.educational_qualification %}
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex align-items-end mt-2">
                            <h6 class="mb-0">
                                <a href="/app/educational-qualification/{{ item.name }}">{{ item.name }}</a>
                            </h6>
                        </div>
                        <span class="badge {{ item.workflow_state }} rounded p-2" style="line-height: 1;">
                            {{ item.workflow_state }}
                        </span>
                    </div>
                    {% endfor %}
                    {% if(educational_qualification.len > 3) { %}
                    <span style="float: right;margin-top: 12px;">
                        <a  href="/app/educational-qualification">Show More</a>
                    </span>
                    {% } %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body" style="position: relative;">
                    <div class="card-title">
                        <h5 class="m-0 me-2">{{ __("Educational Qualification") }}</h5>
                    </div>
                    <div class="d-flex align-items-start justify-content-center"
                    style="width: 150px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);">
                           <span class="text-center">No data to show</span>
                    </div>
                </div>
            </div>
        </div>
        {% } %}
        {% if(personal_details.personal_details.length) { %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body">
                    <h5 class="m-0 me-2">{{ __("Personal Details") }}</h5>
                    {% for item in personal_details.personal_details %}
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex align-items-end mt-2">
                            <h6 class="mb-0">
                                <a href="/app/personal-details/{{ item.name }}">{{ item.name }}</a>
                            </h6>
                        </div>
                        <span class="badge {{ item.workflow_state }} rounded p-2" style="line-height: 1;">
                            {{ item.workflow_state }}
                        </span>
                    </div>
                    {% endfor %}
                    {% if(personal_details.len > 3) { %}
                    <span style="float: right;margin-top: 12px;">
                        <a  href="/app/personal-details">Show More</a>
                    </span>
                    {% } %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body" style="position: relative;">
                    <div class="card-title">
                        <h5 class="m-0 me-2">{{ __("Personal Details") }}</h5>
                    </div>
                    <div class="d-flex align-items-start justify-content-center"
                    style="width: 150px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);">
                           <span class="text-center">No data to show</span>
                    </div>
                </div>
            </div>
        </div>
        {% } %}
        {% if(employee_info_update_form.employee_info_update_form.length) { %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body">
                    <h5 class="m-0 me-2">{{ __("Employee Info Update Form") }}</h5>
                    {% for item in employee_info_update_form.employee_info_update_form %}
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex align-items-end mt-2">
                            <h6 class="mb-0">
                                <a href="/app/employee-info-update-form/{{ item.name }}">{{ item.name }}</a>
                            </h6>
                        </div>
                        <span class="badge {{ item.status }} rounded p-2" style="line-height: 1;">
                            {{ item.status }}
                        </span>
                    </div>
                    {% endfor %}
                    {% if(employee_info_update_form.len > 3) { %}
                    <span style="float: right;margin-top: 12px;">
                        <a  href="/app/employee-info-update-form">Show More</a>
                    </span>
                    {% } %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body" style="position: relative;">
                    <div class="card-title">
                        <h5 class="m-0 me-2">{{ __("Employee Info Update Form") }}</h5>
                    </div>
                    <div class="d-flex align-items-start justify-content-center"
                    style="width: 150px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);">
                           <span class="text-center">No data to show</span>
                    </div>
                </div>
            </div>
        </div>
        {% } %}
        {% if(lateness_permission.lateness_permission.length) { %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body">
                    <h5 class="m-0 me-2">{{ __("Lateness Permission") }}</h5>
                    {% for item in lateness_permission.lateness_permission %}
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex align-items-end mt-2">
                            <h6 class="mb-0">
                                <a href="/app/lateness-permission/{{ item.name }}">{{ item.name }}</a>
                            </h6>
                        </div>
                        <span class="badge {{ item.workflow_state }} rounded p-2" style="line-height: 1;">
                            {{ item.workflow_state }}
                        </span>
                    </div>
                    {% endfor %}
                    {% if(lateness_permission.len > 3) { %}
                    <span style="float: right;margin-top: 12px;">
                        <a  href="/app/lateness-permission">Show More</a>
                    </span>
                    {% } %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-3 col-lg-3 col-xl-3 order-0 mb-2">
            <div class="card" style="min-height: 120px;height:180px">
                <div class="card-body" style="position: relative;">
                    <div class="card-title">
                        <h5 class="m-0 me-2">{{ __("Lateness Permission") }}</h5>
                    </div>
                    <div class="d-flex align-items-start justify-content-center"
                    style="width: 150px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);">
                           <span class="text-center">No data to show</span>
                    </div>
                </div>
            </div>
        </div>
        {% } %}
    </div>
</div>