<!DOCTYPE html>
<html data-theme="{{ desk_theme.lower() }}" dir={{ layout_direction }} lang="{{ lang }}" class="layout-menu-fixed">

<head>
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#0089FF">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#0089FF">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#0089FF">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,
			maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="mobile-web-app-capable" content="yes">
	<title>Frappe</title>
	<link rel="shortcut icon" href="{{ favicon or " /assets/frappe/images/frappe-favicon.svg" }}" type="image/x-icon">
	<link rel="icon" href="{{ favicon or " /assets/frappe/images/frappe-favicon.svg" }}" type="image/x-icon">
	{% for include in include_css -%}
	<link type="text/css" rel="stylesheet" href="{{ include }}?ver={{ build_version }}">
	{%- endfor -%}
	<!-- Core CSS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
		rel="stylesheet">


	<link rel="stylesheet" href="/assets/mosyr_theme/css/perfect-scrollbar.css" />
	<link rel="stylesheet" href="/assets/mosyr_theme/css/apex-charts.css" />
	<script src="/assets/mosyr_theme/js/helpers.js"></script>
	
	<script src="/assets/mosyr_theme/js/config.js"></script>
</head>

<body>
	{% include "public/icons/timeless/symbol-defs.svg" %}
	<div class="centered splash">
		<img src="{{ splash_image or " /assets/frappe/images/frappe-framework-logo.png" }}"
			style="max-width: 100px; max-height: 100px;">
	</div>
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<!-- Menu -->
			<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
				<div class="app-brand demo">
					<a href="/app" class="app-brand-link">
						<span class="app-brand-logo demo">
							<img src="/assets/mosyr_theme/img/mosyrlogo.png" alt="mosyer-logo" />
						</span>
					</a>
					<a href="javascript:void(0);"
						class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
						<i class="bx bx-chevron-left bx-sm align-middle">****</i>
					</a>
				</div>

				<div class="menu-inner-shadow"></div>

				<ul class="menu-inner py-1">
					<!-- Dashboard -->
					<li class="menu-item active">
						<a href="/app" class="menu-link sidebar-item" id="Home">
							<i class="menu-icon tf-icons bx bx-home-circle"></i>
							<div id="Home" data-i18n="Home">{{ _("Home") }}</div>
						</a>
					</li>
					<!-- Layouts -->
					{% for item in side_items %}
					<li class="menu-item">
						<a href="javascript:void(0);" class="menu-link menu-toggle" id="{{ item.label or item.name}}">
							<div class="add-val"></div>
							<span class="menu-icon sidebar-icon" icon-name="{{item.icon}}"></span>
							<div id="{{item.label or item.name}}" data-i18n="{{item.label or item.name}}">{{
								_(item.label) or _(item.name)}}</div>
						</a>
						<ul class="menu-sub">
							{% for itm in item.child_items %}
							<li class="menu-item">
								<a href="/app/{{itm.route}}" class="menu-link" id="{{itm.name}}">
									<div id="{{itm.name}}" data-i18n="{{itm.name}}">{{ _(itm.name) }}</div>
								</a>
							</li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
			</aside>
			<!-- / Menu -->
			<div class="layout-page">
				<div class="main-section">
					<header></header>
					<div id="body">
						<div class="custom_content">
							{% include "templates/includes/main_content.html" %}
						</div>
					</div>
					<footer></footer>
				</div>
			</div>

			<!-- / Layout page -->
		</div>

		<!-- Overlay -->
		<div class="layout-overlay layout-menu-toggle"></div>
	</div>


	<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>

	<script type="text/javascript">
		window._version_number = "{{ build_version }}";
		// browser support
		window.app = true;
		window.dev_server = {{ dev_server }};

		if (!window.frappe) window.frappe = {};

		frappe.boot = {{ boot }};
		frappe._messages = frappe.boot["__messages"];
		frappe.csrf_token = "{{ csrf_token }}";
	</script>

	{% for include in include_js %}
	<script type="text/javascript" src="{{ include }}?ver={{ build_version }}"></script>
	{% endfor %}
	{% include "templates/includes/app_analytics/google_analytics.html" %}
	{% include "templates/includes/app_analytics/mixpanel_analytics.html" %}

	{% for sound in (sounds or []) %}
	<audio preload="auto" id="sound-{{ sound.name }}" volume={{ sound.volume or 1 }}>
		<source src="{{ sound.src }}">
		</source>
	</audio>
	{% endfor %}

	<script src="/assets/mosyr_theme/js/perfect-scrollbar.js"></script>
	<script src="/assets/mosyr_theme/js/popper.js"></script>
	<script src="/assets/mosyr_theme/js/bootstrap.js"></script>
	
	
	<script src="/assets/mosyr_theme/js/menu.js"></script>

	<script src="/assets/mosyr_theme/js/apexcharts.js"></script>
	
	<script src="/assets/mosyr_theme/js/main.js"></script>

	<script src="/assets/mosyr_theme/js/dashboards-analytics.js"></script>
</body>

</html>