{% extends "templates/web.html" %}

{% macro email_login_body() -%}
<div class="page-card-body">
    <div class="mb-3">
        <label class="form-label" for="login_email">{{ login_label or _("Email or Username")}}</label>
        <input type="text" id="login_email" class="form-control"
            placeholder="{% if login_name_placeholder %}{{ login_name_placeholder  }}{% else %}{{ _('jane@example.com') }}{% endif %}"
            required autofocus>
    </div>
    <div class="mb-3 form-password-toggle">
        <div class="d-flex justify-content-between">
            <label class="form-label" for="login_password">{{ _("Password") }}</label>
            <a href="#forgot">
                <small> {{ _("Forgot Password?") }}</small>
            </a>
        </div>
        <div class="input-group input-group-merge">
            <input type="password" id="login_password" class="form-control" placeholder="•••••"
                autocomplete="current-password" required>
            <!-- <span toggle="#login_password" class="toggle-password text-muted">{{ _('Show') }}</span> -->
            <span toggle="#login_password" class="input-group-text cursor-pointer toggle-password text-muted" style="font-size: 10px;">{{ _('Show') }}</span>
        </div>
    </div>
</div>
<div class="mb-3">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="remember-me" style="width: 1.2em !important;" />
        <label class="form-check-label" for="remember-me"> {{ _("Remember Me") }}</label>
    </div>
</div>

<div class="page-card-actions mb-3">
    <button class="btn btn-primary d-grid w-100 btn-login" type="submit">{{ _("Login") }}</button>

    {% if ldap_settings and ldap_settings.enabled %}
    <button class="btn btn-sm btn-default btn-block btn-login btn-ldap-login">
        {{ _("Login with LDAP") }}</button>
    {% endif %}
</div>
{% endmacro %}

<!-- {% block head_include %}
<link type="text/css" rel="stylesheet" href="/assets/css/login.css?ver={{ build_version }}">
{% endblock %} -->

{% macro logo_section() %}
<!-- <div class="page-card-head">
	<img class="app-logo" src="{{ logo }}">
	<h4>{{ _('Login to {0}').format(app_name or _("Frappe")) }}</h4>
</div> -->
<!-- Logo -->
<div class="app-brand justify-content-center">
    <a href="index.html" class="app-brand-link gap-2">
        <span class="app-brand-logo demo">
            <img src="/assets/mosyr_theme/img/mosyrlogo.png" alt="mosyer-logo" />
        </span>
    </a>
</div>
<!-- /Logo -->
{% endmacro %}

{% macro login_wellcome_msg() %}
    <h4 class="mb-2">{{ _("Welcome to Mosyr! 👋") }}</h4>
    <p class="mb-4">{{ _("Please sign-in to your account and start the adventure") }}</p>
{% endmacro %}

{% macro signup_wellcome_msg() %}
    <h4 class="mb-2">{{ _("Adventure starts here 🚀") }}</h4>
    <p class="mb-4">{{ _("Make your app management easy and fun!") }}</p>
{% endmacro %}

{% macro forget_wellcome_msg() %}
    <h4 class="mb-2"> {{ _("Forgot Password? 🔒") }} </h4>
    <p class="mb-4"> {{ _("Enter your email and we'll send you instructions to reset your password ") }} </p>
{% endmacro %}

{% block page_content %}
<!-- {{ for_test }} -->
<div>
    <noscript>
        <div class="text-center my-5">
            <h4>{{ _("Javascript is disabled on your browser") }}</h4>
            <p class="text-muted">
                {{ _("You need to enable JavaScript for your app to work.") }}<br>{{ _("To enable it follow the
                instructions in the following link: {0}").format("<a
                    href='https://enable-javascript.com/'>enable-javascript.com</a></p>") }}
        </div>
    </noscript>
    <div id="for-login" class='container-xxl'>
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="login-content page-card authentication-inner">
                <div class="card">
                    <div class="card-body">
                        {{ logo_section() }}
                        {{ login_wellcome_msg() }}
                        <form class="form-signin form-login mb-3" role="form">
                            {%- if social_login -%}
                            <div class="page-card-body">
                                <div class="social-logins text-center">
                                    <div class="social-login-buttons">
                                        {% for provider in provider_logins %}
                                        <div class="login-button-wrapper">
                                            <a href="{{ provider.auth_url }}"
                                                class="btn btn-block btn-default btn-sm btn-login-option btn-{{ provider.name }}">
                                                {% if provider.icon %}
                                                {{ provider.icon }}
                                                {% endif %}
                                                {{ _("Login With {0}").format(provider.provider_name) }}</a>
                                        </div>
                                        {% endfor %}
                                        <p class="text-muted login-divider">{{ _("or") }}</p>
                                    </div>
                                </div>
                                <a href="#email" class="btn btn-block btn-default btn-sm btn-login-option">
                                    {{ _("Login With Email") }}</a>
                            </div>
                            {% else %}
                            {{ email_login_body() }}
                            {%- endif -%}
                        </form>
                        {%- if not disable_signup -%}
                        <p class="text-center">
                            <span> {{ _("New on our platform?") }} </span>
                            <a href="#signup">
                                <span> {{ _("Create an account") }} </span>
                            </a>
                        </p>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%- if social_login -%}
    <div id="for-email-login" class='container-xxl'>
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="login-content page-card authentication-inner">
                <div class="card">
                    <div class="card-body">
                        {{ logo_section() }}
                        {{ login_wellcome_msg() }}
                        <form class="form-signin form-login mb-3" role="form">
                            {{ email_login_body() }}
                        </form>
                        {%- if not disable_signup -%}
                        <p class="text-center">
                            <span> {{ _("New on our platform?") }} </span>
                            <a href="#signup">
                                <span> {{ _("Create an account") }} </span>
                            </a>
                        </p>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%- endif -%}
    <div id="for-signup" class='container-xxl {{ "signup-disabled" if disable_signup else "" }}'>
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="login-content page-card authentication-inner">
                <div class="card">
                    <div class="card-body">
                        {{ logo_section() }}
                        {{ signup_wellcome_msg() }}
                        {%- if not disable_signup -%}
                        <form class="form-signin form-login mb-3" role="form">
                            <div class="mb-3">
                                <label class="form-label" for="signup_fullname">Full Name</label>
                                <input type="text" id="signup_fullname" class="form-control"
                                    placeholder="{{ _('Jane Doe') }}" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="signup_email">Email</label>
                                <input type="email" id="signup_email" class="form-control"
                                    placeholder="{{ _('jane@example.com') }}" required>
                            </div>

                            <div class="page-card-actions mb-3">
                                <button class="btn btn-primary d-grid w-100 btn-signup" type="submit">{{
                                    _("Signup")}}</button>
                            </div>
                            <p class="text-center">
                                <span>{{_("Already have an account?")}}</span>
                                <a href="#login">
                                    <span>{{_("Sign in instead")}}</span>
                                </a>
                            </p>
                        </form>
                        {%- else -%}
                        <div class='page-card-head mb-2'>
                            <span class='indicator gray'>{{_("Signup Disabled")}}</span>
                            <p class="text-muted text-normal sign-up-message mt-1 mb-8">{{_("Signups have been
                                disabled for this
                                website.")}}</p>
                            <div><a href='/' class='btn btn-primary btn-md'>{{ _("Home") }}</a></div>
                        </div>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='for-forgot' class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="login-content page-card authentication-inner">
            <div class="card">
                <div class="card-body">
                    {{ logo_section() }}
                    {{ forget_wellcome_msg() }}
                    <form class="form-signin form-login mb-3" role="form">
                        <div class="email-field mb-3">
                            <input type="email" id="forgot_email" class="form-control"
                                placeholder="{{ _('Enter Email Address') }}" required autofocus>
                        </div>
                        <div class="page-card-actions">
                            <button class="btn btn-primary d-grid w-100 btn-forgot" type="submit">{{ _("Send Reset Link")}}</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a href="#login" class="d-flex align-items-center justify-content-center" style="color: #787bff;">
                            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                            {{ _("Back to login") }} 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>{% include "templates/includes/login.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}