@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    font-family: 'Tajawal', sans-serif !important;
}
.layout-container {
    flex-direction: row-reverse !important;
} 
.layout-menu-fixed .layout-menu, .layout-menu-fixed-offcanvas .layout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.layout-navbar .navbar-nav-right {
    width: 100% !important;
}

.custome_hide {
    display: none !important;
}

.flip-img {
    transform: scaleX(-1) !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff !important;
    background-color: #5f61e6 !important;
    border-color: #5f61e6 !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%) !important;
    transform: translateY(-1px) !important;
}