@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    font-family: 'Tajawal', sans-serif !important;
}
a:hover {
    text-decoration: none !important;
}
.layout-container {
    flex-direction: row-reverse !important;
} 
.layout-menu-fixed .layout-menu, .layout-menu-fixed-offcanvas .layout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.layout-navbar .navbar-nav-right {
    width: 100% !important;
}

.custome_hide {
    display: none !important;
}

.flip-img {
    transform: scaleX(-1) !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff !important;
    background-color: #5f61e6 !important;
    border-color: #5f61e6 !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%) !important;
    transform: translateY(-1px) !important;
}
.btn-primary {
    color: #fff !important;
    background-color: #696cff !important;
    border-color: #696cff !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%) !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #5f61e6 !important;
    border-color: #5f61e6 !important;
    transform: translateY(-1px) !important;
}

.list-group-by-fields .group-by-field.list-link .dropdown-menu.group-by-dropdown {
    z-index: 5000 !important;
}

.standard-filter-section input::placeholder,
.form-control::placeholder  {
    font-size: 12px !important;
}

.list-paging-area .btn-group .btn:first-child ,
:not(.btn-group):not(.input-group) > .btn-group > .btn:not([class*=btn-outline-]):first-child {
    border-right-color: #dce0e3 !important;
    border-left-color: #dce0e3 !important;
}
.list-paging-area .btn-group .btn:last-child,
:not(.btn-group):not(.input-group) > .btn-group > .btn:not([class*=btn-outline-]):last-child  {
    border-left-color: #dce0e3 !important;
    border-right-color: #dce0e3 !important;
}


.list-paging-area .btn-group .btn-paging.active-paging {
    border-color: #696cff !important;
    background-color: #696cff !important;
    color: #fff !important;
    box-shadow: 0 0.125rem 0.25rem rgb(105 108 255 / 40%) !important;
}

.active-paging:hover {
    transform: none !important;
}

.layout-main-section .frappe-list {
    padding-left: 0;
    padding-right: 0;
}
.level.list-row-head {
    border-bottom: 2px solid #d9dee3 !important;
}
.list-row-container {
    border-color: #d9dee3 !important;
}
.list-row-head {
    height: 40px !important;
}
.list-row {
    height: 55px !important
}
.input-xs {
    height: 30px !important;
    padding-top: 0 !important;
    padding-bottom: 0px !important;
    font-size: 12px !important;
}
.btn-xs {
    border-radius: 5px !important;
    padding: 2px 7px !important;
}
.awesomplete .input-with-feedback {
    background-color: #fff !important;
}

.btn-secondary  {
    color: #8592a3 !important;
    border-color: transparent !important;
    background: #ebeef0 !important;
    box-shadow: none !important;
}

.dropdown-menu{
    z-index: 5000 !important;
}